@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.aurora-background {
    background-image: url("/img/background.jpg");
    background-size: cover;
    background-position: top right;
}

body {
    font-family: "Open Sans", sans-serif;
}

.outlined-text {
    -webkit-text-stroke: 2px white; /* Specify the width and color of the outline */
    color: transparent; /* Makes the inside of the letters transparent */
}

.starry-sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Adjust z-index as needed */
}

.star {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    animation-name: blink, glow;
    animation-duration: 2s, 4s;
    animation-iteration-count: infinite, infinite;
    animation-timing-function: ease-in-out, ease-in-out;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

@keyframes glow {
    0%,
    100% {
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
}

.blink-1 {
    animation-name: blink;
}
.blink-2 {
    animation-name: blink;
    animation-delay: 0.4s;
}
.blink-3 {
    animation-name: blink;
    animation-delay: 0.8s;
}
.blink-4 {
    animation-name: blink;
    animation-delay: 1.2s;
}
.blink-5 {
    animation-name: blink;
    animation-delay: 1.6s;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
